alembic==1.4.2
allure-pytest==2.7.0
allure-python-commons==2.7.0
amqp==2.5.2
aniso8601==8.0.0
antiorm==1.2.1
appdirs==1.4.4
arrow==0.15.8
atomicwrites==1.3.0
attrs==19.3.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
billiard==3.6.3.0
binaryornot==0.4.4
biopython==1.75
blinker==1.4
celery==4.4.2
Cerberus==1.3.2
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
click==7.1.2
client==0.0.1
co==0.2.0
colorama==0.4.1
configparser==4.0.2
cookiecutter==1.7.2
cookiejar==0.0.3
cryptography==2.8
cx-oracle-on-ctypes==0.1.dev0
databases==0.3.2
db==0.1.1
db-api==0.2.1
db-check==0.1.5
DBUtils==1.3
distlib==0.3.0
docopt==0.6.2
dominate==2.5.1
ecdsa==0.13
enum34==1.1.6
filelock==3.0.12
FixQueue==0.1.1
Flask==1.1.2
Flask-Boot==0.0.1
Flask-Bootstrap==3.3.7.1
Flask-Bootstrap3==3.1.1.3
Flask-Cors==3.0.8
Flask-HTTPAuth==4.0.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-Script-Extras==0.1.4
Flask-SQLAlchemy==2.3.2
flask-sqlalchemy-core==0.1.1
flask-sqlalchemy-paging==0.0.2
flask-sqlalchemy-raw==0.0.4
flask-sqlalchemy-rls==0.0.2
flask-sqlalchemy-stubs==0.2
flask-sqlalchemy-unchained==0.7.3
Flask-WTF==0.14.3
get==2019.4.13
greater-context==2018.12.16
html5lib==1.0.1
httpcache==0.1.3
idna==2.6
import-string==0.1.0
importlib-metadata==1.3.0
intervaltree==3.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
jinja2-time==0.2.0
kombu==4.6.8
lxml==4.6.2
Mako==1.1.2
manage==0.1.13
manage.py==0.2.10
markdown-strings==3.3.0
MarkupSafe==1.1.1
more-itertools==7.2.0
multidimensional-urlencode==0.0.4
mypy==0.770
mypy-extensions==0.4.3
mysql-connector==2.2.9
namedlist==1.7
numpy==1.17.4
objectpath==0.6.1
packaging==19.2
pager==3.3
pampy==0.3.0
pandas==1.0.3
paramiko==2.7.1
pathlib==1.0.1
Pillow==6.2.1
pluggy==0.13.1
post==2019.4.13
poyo==0.5.0
public==2019.4.13
pxpy==1.0a16
py==1.8.0
py-html-checker==0.1.0
py-html-table==0.0.8
Py-Meta-Utils==0.7.6
pycparser==2.20
pycryptodome==3.9.7
Pygments==2.5.2
PyJWT==1.7.1
pymal==0.6
pymssql==2.1.4
PyMySQL==0.9.3
PyMysqlDB==0.0.2
PyNaCl==1.3.0
pyparsing==2.4.5
Pypubsub==4.0.3
pytest==5.3.1
pytest-html==2.0.1
pytest-metadata==1.8.0
pytest-rerunfailures==8.0
pytest-subprocess==0.1.1
python-dateutil==2.8.1
python-editor==1.0.4
python-slugify==4.0.1
pytz==2020.1
pywin32==227
PyYAML==5.1.2
query-string==2019.4.13
queued==2019.12.24
queues==0.6.3
redis==3.5.2
request==2019.4.13
requests==2.18.4
requests-toolbelt==0.9.1
robotframework==3.1.2
sh==1.13.1
singleton-factory==1.0
singleton3==1.0
six==1.13.0
sortedcontainers==2.1.0
soupsieve==1.9.5
SQLAlchemy==1.3.17
SQLAlchemy-Unchained==0.11.0
sqlcollection==0.3.0
sshutil==1.5.0
strict-functions==2020.2.4
subprocess32==3.5.4
suds==0.4
suds-py3==1.4.1.0
tabulate==0.8.7
test-pypi==0.22
test-task==0.0.5
text-unidecode==1.3
thread-queue==0.2.3
thread6==0.2.0
threader==0.1.1
threadly==0.8.2
thready==0.1.5
tornado==6.0.3
tqdm==4.40.2
typed-ast==1.4.1
typing-extensions==3.7.4.2
URLEncoder==1.1
urllib-ext==2020.5.1
urllib2-prior-auth==0.2.0
urllib3==1.22
user-api==0.6.0
utils==1.0.1
Varas==1.1
vine==1.3.0
virtualenv==20.0.21
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
webservice==0.3
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.1
xlrd==1.2.0
xmltodict==0.12.0
zipp==0.6.0
